# TODO: Uncomment when starting production.
#src-images/
#pdf-keep/

data/*.bak*
planner-page.pdf
thumbs-page.pdf
wall_main.pdf
desk_main.pdf
planner_*.pdf
.*#
*.swp
*.aux
*.log
*.toc
*.out
TODO
TODO.md
TODO.org
auto/
temp/
